.modal-form__icon {
  width: 18px;
  height: 18px;

  &--person {
    position: absolute;
    left: 16px;
    top: 32px;
    width: 12px;
    height: 12px;
  }
  &--phone {
    position: absolute;
    left: 16px;
    top: 32px;
    width: 12px;
    height: 12px;
  }
  &--envelope {
    position: absolute;
    left: 16px;
    top: 32px;
    width: 12px;
    height: 12px;
  }
}
